.main-container {
  position: relative;
}
.leaderboard {
  position: absolute;
  background-color: var(--light-color);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transform: scale(1) rotate(-360deg);
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.3) rotate(0deg);
  }

  &-image {
    height: 4rem;
    width: 4rem;
  }
}
.active {
  width: 95%;
  height: 100%;
  position: absolute;
  background-color: var(--light-color);
  top: 2rem;
  right: 2rem;
  z-index: 1;
  padding: 2rem;
  transition: all 1s ease-in-out;
  z-index: 1000;
  // border-radius: 0;
  animation: 1s leaderboard;
}

.user-container {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5rem;
  // height: 100vh;
  // max-height: fit-content;
  gap: 2rem;
}
.instruction {
  color: #707070;
  width: 60%;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  // padding:2rem;
  & label {
    color: var(--light-color);
    font-size: 3rem;
  }

  & input {
    border: 0;
    outline: 0;
    padding: 0.4rem;
    margin: 2rem;
    width: 70%;
    transition: all 0.1s ease-in-out;
  }
}

.style1 {
  box-shadow: var(--primary-color) 0px 0px 5px 5px;
}
.style2 {
  box-shadow: var(--secondary-color) 0px 0px 5px 5px;
}
.style3 {
  box-shadow: skyblue 0px 0px 5px 5px;
}
.style4 {
  box-shadow: greenyellow 0px 0px 5px 5px;
}
.style5 {
  box-shadow: blueviolet 0px 0px 5px 5px;
}
.style6 {
  box-shadow: orangered 0px 0px 5px 5px;
}
.style7 {
  box-shadow: rgb(212, 18, 18) 0px 0px 5px 5px;
}
.style8 {
  box-shadow: rgb(135, 235, 148) 0px 0px 5px 5px;
}
.style9 {
  box-shadow: rgb(255, 0, 0) 0px 0px 5px 5px;
}
.title {
  font-size: 2rem;
  border: var(--primary-color) 2px solid;
  color: var(--light-color);
  padding: 2rem;
}
.input-name {
  font-size: 3rem;
}
.btn {
  text-transform: capitalize;
  border: 0;
  outline: 0;
  padding: 1rem;
  // padding-bottom: 0;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  position: relative;
  z-index: 1;
  font-weight: 800;
  // font-size: 1.8rem;
  transition: all 0.3s ease-in;
  &:hover {
    color: var(--dark-color);
    // font-weight: 300;
    transform: translate(0px, -5px);
  }
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      to left,
      var(--primary-color) 30%,
      rgb(0, 229, 255)
    );
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: height 0.2s;
    z-index: -1;
  }
  &:hover::before {
    box-shadow: var(--primary-color) 0px 0px 10px 5px;
    color: black;
    height: 100%;
  }

  &-login {
    padding: 1rem 2rem;
  }
}
